# Ambiente virtual (cada um cria o seu via requirements.txt)
venv/
.venv/
env/
 
# Cache do Python
__pycache__/
*.py[cod]
*.pyc
 
# Checkpoints do Jupyter
.ipynb_checkpoints/
 
# Arquivos do sistema operacional
.DS_Store
Thumbs.db
 
# Configurações de editores
.vscode/
.idea/
 